<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  {{> header}}  <!-- inject header.hbs partial here -->

  <p>{{screamIt welcomeMsg}}</p>

  {{> footer}}  <!-- inject footer.hbs partial here -->
</body>

</html>
